*.bash
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ybam-ccamp-rfc8561bis.xml
draft-ybam-rfc8561bis.xml
old/
package-lock.json
pretty/
report.xml
!requirements.txt
